<div class="row">
  <div class="col-sm-6" *ngIf="!tabela">
    <br>
    <app-titulo [titulo]="(funcionarioSelecionado.id === 0 ? 'Novo Funcionário' : 'Cód. Funcionário: ' + funcionarioSelecionado.id)">
      <button class="btn btn-sm btn-outline-danger" (click)="voltar()">Fechar</button>
    </app-titulo>

    <form [formGroup]="funcForm">
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Nome</label>
        <input type="text" formControlName="nome" class="form-control">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">RG</label>
        <input type="text" formControlName="rg" class="form-control">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Departamento</label>
        <input type="text" formControlName="departamentoid" class="form-control">
      </div>
    </form>
    <div class="form-group">
    <hr>
    <button class="btn btn-sm btn-success" (click)="funcSubmit()" [disabled]="!funcForm.valid">Salvar</button>
    </div>
  </div>

  <div [ngClass]="{'col-sm-6': !tabela, 'col-sm-12':  tabela}">
    <br>
    <app-titulo [titulo]="titulo">
      <button class="btn btn-sm btn-outline-success" (click)="funcNovo()">Cadastrar Funcionário</button>
    </app-titulo>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">RG</th>
          <th scope="col">Departamento</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let func of funcs">
          <td scope="row">{{func.id}}</td>
          <td>{{func.nome}}</td>
          <td>{{func.rg}}</td>
          <td>{{func.departamentoid}}</td>
          <td>
              <button (click)="funcSelect(func)" style="margin-right: 10px;" class="btn btn-sm btn-outline-primary">Editar</button>
              <button (click)="deletar(func.id)" class="btn btn-sm btn-outline-danger">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

